/.github
/1_problemAnalysis.md
/2_modules.md
/3_UseCases.md
/mlcode.zip
/Task_4_Functional_Requirements.md
/Task_5_Non_Functional_Requirements.md
/Task_6_User_Stories.md
/Task_7_MoSCoW_Prioritization.md
/Task_8_Final_Consolidated_Requirements.md
/venv
/__pycache__